<div class="listselect">
  <ul>
    <li>
      <div
        [routerLink]="['carteVisite']"
        routerLinkActive="active"
        class="nav-link"
      >
        Carte Visite
      </div>
    </li>
    <li>
      <div>
        <a [routerLink]="['cv']" routerLinkActive="active" class="nav-link"
          >Cv</a
        >
      </div>
    </li>
    <li>
      <div>
        <a [routerLink]="['word']" routerLinkActive="active" class="nav-link"
          >Mini Word</a
        >
      </div>
    </li>
    <li>
      <div>
        <a [routerLink]="['color']" routerLinkActive="active" class="nav-link"
          >Color</a
        >
      </div>
    </li>
    <li>
      <div>
        <a [routerLink]="['auth']" routerLinkActive="active" class="nav-link"
          >Auth</a
        >
      </div>
    </li>
  </ul>
  <br />
</div>
