<form #monFormulaire="ngForm">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control"
      email
      required
      ngModel
      name="email"
      id="email"
      #monEmail="ngModel"
    >
    <div *ngIf="monEmail.invalid && monEmail.touched" class="alert alert-danger">
      Email Invalid
    </div>
    <label for="pwd">Password</label>
    <input
      type="password"
      class="form-control"
      ngModel
      name="password"
      id="pwd"
    >
    <button
      [disabled]="monFormulaire.invalid"
      class="btn btn-danger"
      (click)="login(monFormulaire)"
    >Login</button>
  </form>